@{
    ViewData["Title"] = "Quem somos";
}

<div style="color:white">
    <h1>@ViewData["Title"]</h1>
    <p>Somos um grupo de passeios rápidos no Rio de Jajeiro.</p>
    <p>Efetuamos passeios rápidos em qualquer lugar da cidade para que você possa conhecer todos os pontos turísticos.</p>
    <p>Temos parceiros que viabilizam sua viagem e garantem a melhor hospedágem.</p>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        logAccess();
    });
</script>