
@{
    ViewData["Title"] = "Index";
}

<div style="text-align:center;color:white;">
    <h1 class="display-4"><b>Parabéns!</b></h1>
    <h2 class="display-4">Pedido efetuado com sucesso</h2>
    <h5 class="display-4">Aguarde o contato de um dos nossos representantes</h5>
    <button type="button" class="btn btn-outline-warning" onclick="window.open('/Home/index','_self')">voltar</button>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        logAccess();
    });
</script>